<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>~~</title>
    <meta name="keywords"
          content=""/>
    <meta name="description"
          content=""/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, user-scalable=yes, minimum-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit">
    <!--<meta http-equiv="Content-Security-Policy" content="default-src 'self' 'unsafe-inline';object-src 'none'; img-src * chrome://favicon/*;">-->
    <link href="{{ STATIC_PATH }}/favicon.ico" rel="Shortcut Icon">
</head>
<body class="wp-mobile" data-current-page="{{ currentPage }}">  
  {% block mainContent %}{% endblock %}
</body>
</html>